---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

interface Post {
	slug: string;
	data: {
		title: string;
		publishedDate: string;
		tags: string[];
	};
}
let posts: Post[] = await getCollection("posts");
posts = posts.sort((a, b) => new Date(b.data.publishedDate) - new Date(a.data.publishedDate));

const info = [
	{
		label: "github.com/sanjayatony",
		link: "https://github.com/sanjayatony",
	},
	{
		label: "twitter.com/sanjayatony",
		link: "https://twitter.com/sanjayatony",
	},
	{
		label: "tony@sanjaya.info",
		link: "mailto:tony@sanjaya.info",
	},
];
---

<Layout title="ton's">
	<ul class="parent-ul">
		<li>
			info
			<ul class="child-ul">
				{
					info.map((item) => (
						<li>
							<a href={item.link}>{item.label}</a>
						</li>
					))
				}
			</ul>
			<li>
				all posts
				<ul class="posts">
					{
						posts.map((post) => (
							<li>
								{post.data.publishedDate}
								<a href={`/posts/${post.slug}`}>{post.data.title}</a> ({post.data.tags.join(", ")})
							</li>
						))
					}
				</ul>
			</li>
		</li>
	</ul>
</Layout>
